@model IEnumerable<PublicServicesCardsProject.Models.UserRoleViewModel>
@{
    ViewBag.Title = "Users And Roles";
}
<h2>Users And Roles</h2>

<table class="table table-hover">
    <tr>
        <th>
            Email Address
        </th>
        <th>
            System Role
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.ActionLink(" EditUser", "EditUser", new {email = item.EmailAddress}, htmlAttributes: new { @class = " fa fa-edit" })
            </td>
        </tr>
    }
</table>
