@{
    ViewBag.Title = "About This Booking System";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#About" class="list-group-item">About This Application</a>
            <a href="#MakeAppointment" class="list-group-item">How Do I Make An Appointment?</a>
            <a href="#Amendments" class="list-group-item">How Do I Amend My Appointment?</a>
            <a href="#Cancel" class="list-group-item">Can I Cancel My Appointment?</a>
            <a href="#Items" class="list-group-item">What Do I Need To Bring With Me To My Appointment?</a>
        </div>
    </div>
    <div class="col-md-9">
        <h3 id="About">About This Application</h3>
        <p>
            This is a Third Year Computing Project for the Institute of technology Tallaght completed while out on a work placement with The Department of Social Protection. The work placement was over
            6 months, 26 weeks, from the 25th January up until the 22nd July. However, this project started from the 11th April and commenced on the 27th May, giving just over 6 weeks to complete this
            booking system for my appointments at the Department of Social Protection.
        </p>
        <p>
            There are 3 seperate users on this application. The :
            <ul>
                <li>Customers</li>
                <li>Staff Members</li>
                <li>Managers who are basically administrators</li>
            </ul>
            When you initially Register as a user, you become known as a Customer. To become a Staff member, another Staff Member, or Manager must create your
            profile manually. After this you are free to use the application. Only Managers can create other managers and assign them there permissions.
        </p>

        <p>
            Customers have only basic functionality. They may:
            <ul>
                <li>View the Home Page</li>
                <li>View the About Page</li>
                <li>View the Contact Page</li>
                <li>Make an Appointment on the Appontments Page - Customers can choose where they want their appointment, with who, and the time and date</li>
                <li>Change Appointment</li>
                <li>Update their Appointment</li>
                <li>Cancel their Appointment</li>
                <li>Manage their details</li>
            </ul>
        </p>

        <p>
            Staff Members may:
            <ul>
                <li>View the Home Page</li>
                <li>View the About Page</li>
                <li>View the Contact Page</li>
                <li>View their daily schedule with appointments</li>
                <li>Change Appointment date and time in which the customer will be notified</li>
                <li>Manage their details</li>
            </ul>
        </p>

        <p>
            Managers can see everything on the application.
        </p>

        <h3 id="MakeAppointment">How Do I Make An Appointment?</h3>

        <p>
            Thanks to this application it has now became very easy to make an appointment to gain your free Public Services
            Card. There are a number of simple steps in completing your booking. These include:
            <ul>
                <li>Clicking the New button which is located under this paragraph</li>
                <li>Allowing the next web page to load</li>
                <li>Choosing the office which suits your location</li>
                <li>Choosing the staff member you wish to look after you</li>
                <li>Selecting the date you are available to attend</li>
                <li>Selecting the time you are available to attend at</li>
                <li>Clicking the Create button to finalise your booking</li>
            </ul>
        </p>
        <br />
        <h3 id="Amendments">How Do I Amend My Appointment?</h3>
        <p>
            Amendments are very easy to make. Once you have booked an appointment, your appointment will be displayed in a
            table with your relevant information. To the very right of this table you will see a link called "Edit". Click
            this link. You will be brought to a page similar to the page the original booking was made on. Change the relevant
            information on this and save the appointment. You're appointment has now been amended.
        </p>
        <br />
        <h3 id="Cancel">Can I Cancel My Appointment?</h3>
        <p>
            Yes appointments can be cancelled very easily. Beside the Edit link you will see another link which says Cancel. Click
            this link. You will be directed to another page asking do you want to cancel the appointment. Choose the Cancel button.
            Your appointment has now been cancelled.
        </p>

        <h3 id="Items">What Do I Need To Bring With Me To My Appointment?</h3>
        <p>
            You must bring certain documents with you to your appointment to prove your identity and address. You should also bring the
            letter you got confirming your appointment. If you currently have a Social Services Card (a swipe card used to collect social
            welfare payments), bring that with you too.
        </p>
        <p>
            You must prove your identify to receive a social welfare payment or benefit. If you comply with the SAFE registration process
            when requested you are considered to have authenticated your identity. If you do not comply with the SAFE registration process
            your social welfare payments (including Child Benefit) and/or your social welfare entitlements (such as Free Travel) may be suspended.
        </p>
        <p>
            Here is a list of documments which you must bring:
            <ul>
                <li>Current Irish passport or current Irish or UK driving licence or Irish learner driver permit. If you already have your full birthcertificate (showing your mother’s birth surname) or adoption certificate, please bring it with you</li>
                <li>A household utility bill</li>
                <li>An official letter/document</li>
                <li>A financial statement</li>
                <li>Property lease or tenancy agreement</li>
                <li>Verifiable employer's letter</li>
                <li>Confirmation of address by a third party such as a school principal/administrator, accommodation/property owner**or manager</li>
            </ul>
            <br />
            Additional helpful documents:
            <ul>
                <li>Free Travel Pass</li>
                <li>Medical card issued under the General Medical Service</li>
                <li>European health insurance card</li>
                <li>Credit/debit card</li>
                <li>Student card</li>
            </ul>
        </p>
        <hr />
        </div>
    </div>

    <p>
        <strong>
            Daniel Buckley <br />
            X00109141 <br />
            The Department of Social Welfare <br />
            Some Text Taken From http://www.welfare.ie/en/Pages/Public-Services-Card_holder.aspx
        </strong>
    </p>
