@{
    ViewBag.Title = "About This Booking System";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a Third Year Computing Project for the Institute of technology Tallaght completed while out on a work placement with The Department of Social Protection. The work placement was over
    6 months, 26 weeks, from the 25th January up until the 22nd July. However, this project started from the 11th April abd commenced on the 27th May, giving just over 6 weeks to complete this
    booking system for my appointments at the Department of Social Protection.     
</p>
<p>
    There are 3 seperate users on this application. The :
        <ul>
            <li>Customers</li>
            <li>Staff Members</li>
            <li>Managers who are basically administrators</li>
        </ul>
     When you initially Register as a user, you become known as a Customer. To become a Staff member, another Staff Member, or Manager must create your
    profile manually. After this you are free to use the application. Only Managers can create other managers and assign them there permissions.
</p>

<p>
    Customers have only basic functionality. They may:
    <ul>
        <li>View the Home Page</li>
        <li>View the About Page</li>
        <li>View the Contact Page</li>
        <li>Make an Appointment on the Appontments Page - Customers can choose where they want their appointment, with who, and the time and date</li>
        <li>Change Appointment</li>
        <li>Update their Appointment</li>
        <li>Cancel their Appointment</li>
        <li>Manage their details</li>
    </ul>
</p>

<p>
    Staff Members may:
    <ul>
        <li>View the Home Page</li>
        <li>View the About Page</li>
        <li>View the Contact Page</li>
        <li>View their daily schedule with appointments/li>
        <li>Change Appointment date and time in which the customer will be notified</li>
        <li>Manage their details</li>
    </ul>
</p>

<p>
    Managers can see everything on the application.
</p>

<hr/>

<p><strong>
    Daniel Buckley <br />
    X00109141 <br />
    The Department of Social Welfare
</strong></p>
