@model IEnumerable<PublicServicesCardsProject.Models.Building>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<table>
    <tr>
        <td valign="top">
            <div id="myData">
                <table class="table">
                    <tr>
                        <td>
                            @Html.DropDownList("BuildingId", null, htmlAttributes: new { @class = "form-control", style = "width: 200px;" })
                        </td>
                    </tr>
                    <tr>

                    </tr>
                </table>
             </div>
        </td>
        <td valign="top">
            <iframe src="https://www.google.com/maps/d/embed?mid=1wn7h1bM9cYoIlFn8zRore9CNQm8" width="1000" height="700"></iframe>
        </td>
    </tr>
</table>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")