@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>
    .
    </h1>
    <p class="lead"></p>
    @*<p><a href="About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
@*</div>*@
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active text-center">
            <div class="slide1"><img src="~/Images/dsp.jpg" /></div>
        </div>
        <div class="item text-center">
            <div class="slide2"><img src="~/Images/online-booking.jpg" /></div>
        </div>
        <div class="item text-center">
            <div class="slide3"><img src="~/Images/dsp.png" /></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is a Public Services Card?</h2>
        <p>
            The Public Services Card (PSC) is designed to replace other cards within the public sector such
            as the free travel pass and the social services card of this Department and to make it easy for
            providers of public services to verify the identity of customers. It will also, through the inclusion of a
            photograph, signature, and better security features, considerably reduce the potential for identity
            theft, forgery and fraudulent use.
        </p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How do I get a Public Services Card?</h2>
        <p>
            There are two ways currently to avail of a Public Services Card. The first of which is by a face to face
            in one of our selected locations which will be displayed on this system soon. The second of which is by
            completing a document and posting it back to our offices.
        </p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What information does this card display?</h2>
        <p>
            The front of the card holds a person’s name, photograph and signature, along with the card expiry date.
            The back of the card holds the person’s PPS number and a card number. It also holds a magnetic stripe to
            enable social welfare payments such as pensions to be collected at post offices.
        </p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
</div>